/* common css style start here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul {
  list-style-type: non;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
.navbar-brand,
.navbar {
  padding: 0;
  margin: 0;
}


/* common css style end here */



/* nav section style start here */
nav {
  position: absolute !important;
  width: 100%;
  top: 20px;
}

nav .navbar-brand {
  color: var(--text-color, #252B42);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
}

nav .navbar-nav {
  column-gap: 21px;
  margin-left: 57px;
}


nav .navbar-nav .nav-item .nav-link {
  padding: 0;
  color: #737373;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;

}


nav form a {
  color: #1BA0AB;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  margin: auto;
}

nav form .btn {
  border-radius: 5px;
  background: #1BA0AB;
  padding: 15px 25px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
}

nav form .btn:hover {
  background: #1BA0AB;
  color: #FFF;
}


nav .d-flex {
  column-gap: 45px;
}

/* nav section style end here */





/* banner section style start here */

#banner_part {
  position: relative;
  background-color: rgba(255, 112, 40, 0.1);
  padding-top: 95px;
}

#banner_part .container .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#banner_part .container .text h5 {
  color: var(--primary-color, #1BA0AB);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

#banner_part .container .text h2 {
  width: 542px;
  color: #252B42;
  font-family: Montserrat;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
  margin: 30px 0;
}


#banner_part .container .text p {
  color: #737373;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
}


#banner_part .container .text .banner_btn a {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  border-radius: 5px;
  background: #1BA0AB;
  padding: 15px 40px;
  border: 1px solid #1BA0AB;
}

#banner_part .container .text .banner_btn a:hover {
  background: 0;
  color: #1BA0AB;
}

#banner_part .image img {
  width: 100%;
}

/* banner section style end here */



/* activity section style start here */
#activity_part {
  padding: 160px 0;
}



#activity_part .activity_leftSide .line {
  background: #E74040;
  width: 94px;
  height: 7px;
  margin-bottom: 35px;
}

#activity_part .activity_leftSide h4 {
  color: #252B42;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;

}

#activity_part .activity_leftSide p {
  color: #737373;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 35px 0;
  width: 351px;
}


#activity_part .activity_leftSide a {
  color: #1BA0AB;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

#activity_part .activity_rightSide {
  position: relative;
  padding: 35px 40px;
  background: #FFF;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}


#activity_part .activity_rightSide::before {
  content: "";
  width: 50px;
  height: 2px;
  background: #E74040;
  position: absolute;
  top: 162px;
  left: 40px;
}

#activity_part .activity_rightSide img {
  padding: 22px 19px;
  border-radius: 10px;
  background: #1BA0AB;
}



#activity_part .activity_rightSide h5 {
  color: #252B42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin: 20px 0;
}


#activity_part .activity_rightSide p {
  color: #737373;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 132px;
  margin-top: 20px;
}





/* activity section style end here */




/* experts section style start here */

.experts_part .row {
  flex-direction: row-reverse;
}

.experts_part .experts_part_text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

/* experts section style end here */